/*.eventFairyRowStyle{
  height:40px;
  overflow: auto;
}*/
[v-cloak] {
display: none;
}

.eventFairyRowStyle>div img{
	height:80px;
}
#eventFairy{
	height:30vh;
	overflow:auto;
}


#lotteryFairy{
	height:50vh;
	overflow:auto;
}

#selectFairy{
	height:50vh;
	overflow:auto;
}
#copyRightDiv{
	background:rgba(106, 203, 255, 0.2)
}


#lotteryFairy div>div>div{
	background-position: center center;
	background-size:45px 45px;
	min-width:45px;
	min-height:45px;
}

#eventArrowLeft{/*左箭頭*/
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/arrowLeft.png");

	
}
#eventArrowRight{/*右箭頭*/
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/arrowRight.png");

}
#eventPic{
	height:20vh;
}
#eventPic img{
	height:100%;
	display:block;
	margin:auto;
	transition: all 1s ease-in-out;
}


#eventArrowLeft:hover,#eventArrowRight:hover,#eventPic img:hover{
	opacity:0.5;
	cursor:pointer;
}

#menuButton{
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/menuButton.png");
	/*min-width:30px;*/
	min-height:50px;
}



#eventNumber{
	margin:auto;
	text-align: center;
	font-size:1.5em;
}
#eventTitle{
	height:10vh;
	/* background:blue; */
	justify-content:center;/*讓元素垂直分布*/
	display: flex;
    flex-direction:column;
	text-align:center;/*水平對齊*/
	font-size:1.5em;
	font-style:italic;
}

#marginDiv{
	height:5vh;
	/* background:blue; */
}

/*這邊調整活動圖打開的活動一覽小窗*/
.modal-body{
	height: 350px;
	overflow-y: auto;}
.modal-body img{height:80px;}
.modal-body tbody tr:hover{background:rgba(0,0,255,0.2)}

.modal-content{width:600px;}

.modal-dialog {
	position: fixed;
	top: 100px;
	left: 5%;
}
.alert {
    margin:auto 0;
	text-align:center;
}
#leftButtonDiv{
	/* background:red; */
	height:8vh;
	justify-content:flex-end;
	align-items:center;
}
#leftButtonDiv button,#leftButtonDiv span{height:5vh;}


/*篩選區域*/
#selectOptionArea{
	height:65vh;
	/* background:blue; */
}


#nameSelect{
	/* background:red; */
	height:5vh;
	}
#nameSelect input{
	height:3vh;
	}
#genderDiv{
	/* background:orange; */
	height:3vh}
#genderSelect{
	/* background:yellow; */
	height:5vh;
	align-items:center;}
#elementDiv{
	/* background:green; */
	height:3vh}
#elementSelect{
	/* background:blue; */
	height:49vh;
	}
#elementSelect>div{
	/* background:pink; */
	justify-content:space-between;/*讓元素垂直分布*/
	display: flex;
    flex-direction:column;
}
#elementSelect img{height:5vh}
#elementSelect img:hover{border-color:#007BFF !important;cursor:pointer;}

.borderAdded{border-width:3px !important;}
/* 右區域  底下按鈕外面一層的預設高度 */
#selectButtonDiv{
	/* background:red; */
	height:8vh;
	align-items:center;
}
#selectButtonDiv button{height:5vh;line-height:1.8em;}




img:hover{border:3px  solid rgba(255,255,255,0.5);cursor:pointer}
