/*.eventFairyRowStyle{
  height:40px;
  overflow: auto;
}*/
[v-cloak] {
display: none;
}

.badgeOtherStyle{
	line-height:2.5em;
	margin-right:5px;
}

.eventFairyRowStyle>div img{
	height:80px;
}
#eventFairy{
	height:175px;
	overflow:auto;
}


#lotteryFairy{
	height:175px;
	overflow:auto;
}

#selectFairy{
	height:175px;
	overflow:auto;
}
#copyRightDiv{
	background:rgba(106, 203, 255, 0.2)
}


#lotteryFairy div>div>div{
	background-position: center center;
	background-size:45px 45px;
	min-width:45px;
	min-height:45px;
}

#eventArrowLeft{/*左箭頭*/
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/arrowLeft.png");
	/*min-width:30px;*/
	min-height:50px;
	
}
#eventArrowRight{/*右箭頭*/
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/arrowRight.png");
	min-height:50px;
}

#eventPic img{
	height:120px;
	display:block;
	margin:auto;
	transition: all 1s ease-in-out;
}


#eventArrowLeft:hover,#eventArrowRight:hover,#eventPic img:hover{
	transform:scale(1.1,1.1);
	cursor:pointer;
}

#menuButton{
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: 50px 50px;
	background-image:url("../img/decoration/menuButton.png");
	/*min-width:30px;*/
	min-height:50px;
}

/*#eventPic{
	background-repeat:no-repeat; 
	background-position: center center;
	background-size: auto 100px;
	background-image:url("../img/event/E1.png");
	height:100px;
}*/



#eventNumber{
	margin:auto;
	text-align: center;
}
#eventTitle{
	margin:auto;
	text-align: center;
}


/*這邊調整活動圖打開的活動一覽小窗*/
.modal-body{
	height: 350px;
	overflow-y: auto;}
.modal-body img{height:80px;}
.modal-body tbody tr:hover{background:rgba(0,0,255,0.2)}

.modal-content{width:600px;}

.modal-dialog {
	position: fixed;
	top: 100px;
	left: 5%;
}





/*篩選區域*/
#selectOptionArea{
	/* height:360px; */
}
#elementSelect{height:233px;}
#elementSelect img{width:30px}
#elementSelect img:hover{border-color:#007BFF !important;cursor:pointer;}

.borderAdded{border-width:3px !important;}
